<!--Login Page-->
<body
  id="by"
  class="img js-fullheight"
  style="
    background-image: url(../../assets/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    opacity: 1;
  "
  *ngIf="displayLoginForm"
>
  <section class="ftco-section">
    <div class="row justify-content-center">
      <div class="col-md-10 text-center mb-15">
        <h2 class="heading-section">Login</h2>
      </div>
    </div>
    <!-- Login Section Start -->
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">
          <h3 class="mb-4 text-center">Have an account?</h3>
          <form [formGroup]="loginForm">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="EmployeeID"
                required
                formControlName="EmployeeID"
                name="EmployeeID"
              />
              <div
                *ngIf="
                  loginForm.get('EmployeeID')?.invalid &&
                  loginForm.get('EmployeeID')?.touched
                "
              >
                <span>
                  <small
                    *ngIf="loginForm.get('EmployeeID')?.errors?.['required']"
                    class="text-warning"
                    style="font-size: medium"
                    >**EmployeeID is Required**</small
                  >
                  <small
                    *ngIf="loginForm.get('EmployeeID')?.errors?.['minlength']"
                    class="text-warning"
                    style="font-size: medium"
                    >**EmployeeID must be 6 digits**</small
                  ><br />
                  <small
                    *ngIf="loginForm.get('EmployeeID')?.errors?.['pattern']"
                    class="text-warning"
                    style="font-size: medium"
                    >**EmployeeID must in Numbers**</small
                  ><br />
                  <small
                    *ngIf="loginForm.get('EmployeeID')?.errors?.['maxlength']"
                    class="text-warning"
                    style="font-size: medium"
                    >**EmployeeID must be 6 digits**</small
                  ></span
                >
              </div>
            </div>
            <div class="form-group" data-validate="Password is required">
              <input
                id="password-field"
                type="password"
                class="form-control"
                placeholder="Password"
                required
                formControlName="password"
                name="password"
              />
              <div
                *ngIf="
                  loginForm.get('password')?.invalid &&
                  loginForm.get('password')?.touched
                "
              >
                <small class="text-warning" style="font-size: medium"
                  >**Password Field is Required**</small
                >
              </div>
            </div>
            <br />
            <div class="form-group">
              <button
                type="button"
                class="form-control btn btn-primary submit px-3"
                [disabled]="loginForm.invalid"
                (click)="loginFormSubmission()"
              >
                Sign In
              </button>
            </div>

            <div *ngIf="authenticateMessage">
              <small class="text-warning" style="font-size: medium"
                >&nbsp;** Invalid Credentials **&nbsp;</small
              >
            </div>
            <div class="form-group d-md-flex">
              <div class="w-50 text-md-left">
                <a class="btn btn-link" (click)="enableForgotIdSection()"
                  >Forgot EmployeeID</a
                >
              </div>
              <div class="w-50 text-md-right">
                <a class="btn btn-link" (click)="enableForgotPasswordSection()"
                  >Forgot Password</a
                >
              </div>
              <br /><br /><br />
            </div>
          </form>
          <p class="w-100 text-center">
            <a routerLink="/register">Create Account </a>
          </p>
          <br /><br />
        </div>
      </div>
    </div>
    <!-- Login Section End -->
  </section>
</body>
